<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="search-form">
        <input type="text" id="search-input" name="query" autocomplete="off">
    </form>

    <div id="search-results"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var searchForm = $('#search-form');
            var searchInput = $('#search-input');
            var searchResults = $('#search-results');

            searchInput.on('input', function() {
                var query = searchInput.val();

                $.ajax({
                    url: searchForm.attr('action'),
                    method: 'GET',
                    data: searchForm.serialize(),
                    success: function(data) {
                        searchResults.html(data);
                    }
                });
            });
        });
    </script>

</body>

</html>